@font-face {
    font-family: 'Writing';
    src: url('../../font/England.ttf'); /* IE9 Compat Modes */
    src: url('../../font/England.ttf')  format('truetype'),
}

.section-4 {
  min-height: 70vh;
  margin-top: 50px;
  
}

.section-4 .contact-card-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -5rem;
}
.section-4 .contact-card-container .contact-card {
  background: var(--secondary);
  width: 60%;
  min-height: 400px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  color: var(--tertiary);
  transform: translatey(50%);

  position: relative;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.section-4 .contact-card-container .contact-card .card-logo{
    position: absolute;
    top: 0;
    transform: translateY(-50%) rotate(45deg);
  width: 150px;
  height: 150px;
  border-radius: 3px;
  background: var(--tertiary);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.section-4 .contact-card-container .contact-card .card-logo::before{
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
  background: var(--primary);
    border-radius: 3px;
    transform: rotate(8deg) translate(0px,0px);

}
.section-4 .contact-card-container .contact-card .card-logo h1{
    font-family: 'Writing';
    transform: rotate(-45deg);
    color: var(--secondary);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.section-4 .contact-card-container .contact-card .title{
  font-size: 2.2rem;
    font-weight: 600;
    text-align: center;
  margin-top: 5rem;
}
.section-4 .contact-card-container .contact-card p{
  width: 500px;
  font-size: 1.2rem;
  text-align: center;
}
.section-4 .contact-card-container .contact-card .form-container{
  width: 85%;
  min-height: 100px;    
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-4 .contact-card-container .contact-card .form-container input{
    width: 32%;
    height: 50px;
    font-size: 1rem;
    font-weight: 500;
    border: 3px solid var(--primary);
    border-radius: 4px;
    outline: none;
    
    padding-left: 10px;
    transition: border 0.3s;
}
.section-4 .contact-card-container .contact-card .form-container input:focus{
    border: 3px solid hsla(var(--tertiary-hsl),0.8);
}
.section-4 .contact-card-container .contact-card .form-container input[type=submit] {
    background-color: hsla(var(--primary-hsl),0.8);
    color: var(--tertiary);
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding-left: initial;
    transition: background-color 0.3s;
}
.section-4 .contact-card-container .contact-card .form-container input[type=submit]:hover {
    background-color: var(--primary);
}
.section-4 .contact-card-container .contact-image {
  width: 100%;
  height: 300px;
  background: url("../../img/home/img4.png") no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 950px) {

    .section-4 .contact-card-container {
        margin-top: -10rem;
      }
    .section-4 .contact-card-container .contact-card {
        background: var(--secondary);
        width: 80%;
        min-height: 550px;
      }
    .section-4 .contact-card-container .contact-card .form-container{
    min-height: 200px;    
    display: flex;
    flex-direction: column;
    }
    .section-4 .contact-card-container .contact-card .form-container input{
        width: 80%;
        height: 50px;
        font-size: 1rem;
        font-weight: 500;
    
        padding-left: 10px;
    }
}

@media (max-width: 800px) {
  .section-4 .contact-card-container .contact-card p{
    width: 90%;
    font-size: 1rem;
  }
  .section-4 .contact-card-container .contact-image {
    height: 350px;
  }
}

@media (max-width: 500px) {
  .section-4 .contact-card-container .contact-card {
    width: 85%;
  }
  .section-4 .contact-card-container .contact-card .title{
    font-size: 1.8rem;
    text-align: center;
    width: 90%;
  }
  .section-4 .contact-card-container .contact-card .form-container {
    width: 90%;
  }
  .section-4  .contact-card-container .contact-card .form-container input{
    width: 95%;
  }
  
}
