/* Section 2 */


.section-2{
    width: 100%;
    min-height: 60vh;
    position: relative;
    padding: 80px;

    display: flex;
    flex-direction: column;
    gap: 80px;

}

.section-2 .display{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.section-2 .display .card{
    width: 270px;
    height: 270px;
    border-radius: 20px;
    background: hsla(var(--primary-hsl),0.7);
    transition: transform 0.3s;
}
.section-2 .display .card:hover{
    transform: scale(1.05);
}

.section-2 .main-msg{
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-2 .main-msg .title {
    color: var(--tertiary);
    width: 250px;
    
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 3rem;
    
    margin-bottom: 20px;
    align-self: flex-start;
}
.section-2 .main-msg .title .underline {
    position: relative;
}
.section-2 .main-msg .title .underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: var(--primary);
}
.section-2 .main-msg .divide{
    align-self: flex-start;
    width: 3px;
    height: 200px;
    border-radius: 5px;
    background: hsla(var(--primary-hsl),0.4);
}
.section-2 .main-msg .para{
    box-sizing: border-box;
    padding-right: 10%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding-top: 10px;
    gap: 20px;
    color: var(--tertiary);
}

.section-2 .main-msg .para p span{
    font-family: var(--hand);
    font-size: 1.5rem;
    font-weight: bold;

}

.section-2 .main-msg .para p{
    font-size: 1.1rem;
    color: hsla(var(--tertiary-hsl),0.9);

}
.section-2 .main-msg .para .more-para{
    display: none;
}


.section-2 .main-msg .para .more-info-btn{
    position: relative;
    color: var(--primary);
    font-size: 0.95rem;
    transition: all 0.5s;
    cursor: pointer;
}
.section-2 .main-msg .para .more-info-btn::after{
    position: absolute;
    content: '';
    border-radius: 2px;
    height: 2px;
    width: 75px;
    bottom: -2px;
    left: 0;
    transform-origin: right;
    transform: scale(0,1);
    background: var(--primary);
    transition: transform 0.3s;
}
.section-2 .main-msg .para .more-info-btn:hover::after{
    transform-origin: left;
    transform: scale(1,1);
}

.section-2-img{
    width: 100%;
    height: 75vh;
    background-image: url('../../img/home/img2.png');
    background-size: cover;
    background-position: 50% center;
    margin-bottom: 50px;
}


@media (max-width: 500px){
    .section-2{
    padding: 80px 30px 10px;
    gap: 50px;
    }
    .section-2 .display{
        flex-direction: column;
        gap: 20px;
    }
    .section-2 .display .card{
        width: 250px;
        height: 250px;
        border-radius: 10px;
    }
    .section-2 .main-msg{
        gap: 70px;
    }
    .section-2 .main-msg .para p span{
        font-size: 1.3rem;
    }
    .section-2 .main-msg .para p{
        font-size: 0.9rem;
    }
    .section-2 .main-msg .para .more-info-btn{
        font-size: 0.9rem;
    }
    
    .section-2-img{
        background-size: 1000px;
        background-repeat: no-repeat;
        background-position: 48% center;
    }
}

@media (max-width: 1300px){
    .section-2 .display{
        justify-content: center;
        gap: 20px;
    }

}


@media (max-width: 1250px){
    .section-2{
        padding-left: 50px;
        padding-right: 50px;
    }
    .section-2 .main-msg .para{
        box-sizing: border-box;
        padding-right: 10%;
        /* width: 90%; */
    }
    
}
@media (max-width: 1050px){
    .section-2 .main-msg .divide{
        display: none;
    }
    
}
@media (max-width: 950px){
    .section-2{
        padding-right: 30px;
    }
    .section-2 .main-msg{
        height: 80%;
        flex-direction: column;
        justify-content: space-around;
    }
    .section-2 .main-msg .title{
        text-align: center;
        align-self: center;
    }
    .section-2 .main-msg .divide{
        display: none;
    }
    .section-2 .main-msg .para{
        padding-right: initial;
        width: 90%;
        gap: 20px;
    }
}

@media (max-width: 700px){
    .section-2 .main-msg{
        gap: 80px;
    }
}


  @media (max-width: 700px) {
    .section-2 .main-msg .title {
      font-size: 2rem;
      margin-bottom: -60px;
    }
    .section-2 .main-msg .title .underline::after {
      bottom: -6px;
      height: 4px;
    }
}
@media (max-height: 600px) {
    .section-2 .main-msg .title {
      font-size: 2rem;
      margin-top: 30px;
    }
}


@media (max-width: 1100px){
    .section-2 .img{
        height: 65vh;
    }
}

@media (max-width: 600px){
    .section-2 .img{
        height: 50vh;
    }
}