header{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 70px;
    padding: 0 2%;
    background: hsla(var(--secondary-hsl),0.6);
    backdrop-filter: blur(3px);

    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 10;
}

header .logo{
    font-family: var(--hand);
    font-size: 1.7rem;
    font-weight: bold;

    text-transform: uppercase;
    text-decoration: none;
    color: var(--tertiary);
    cursor: pointer;
    transition: 0.3s;
}

header .menu-btn{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);

    width: 50px;
    height: 50px;
    border-radius: 50%;

    background: var(--primary);
    color: var(--secondary);

    font-size: 1.5rem;

    align-items: center;
    justify-content: center;

    transition: all 0.3s ease-in-out;
    display: none;
}
header .menu-btn:hover{
    background: var(--tertiary);
    color: var(--primary);
}

header .menu{
    height: 100%;
    width: 60%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.3s;
}

header .menu .items{
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;

    color: var(--tertiary);
    transition: color 0.2s ease-in-out;
}
header .menu .items:hover{
    color: var(--primary);
}
header .menu .items.active{
    position: relative;
}
header .menu .items.active::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;

    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: var(--primary);
}

header .enquire-btn{
    background: var(--primary);
    color: var(--secondary);

    width: 130px;
    height: 50px;
    border-radius: 50px;

    font-size: 1rem;
    letter-spacing: 0.5px;
    text-decoration: none;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

header .enquire-btn:hover{
    background: var(--tertiary);
    color: var(--primary);
}

header .enquire-btn i{
    display: none;
}

/* 1350px max width devices */

@media (max-width: 1350px){
    header .menu{
        width: 65%;
    }
    header .menu .items{
        font-size: 1rem;
    }
}

/* 1100px max width devices */

@media (max-width: 1100px){
    header .logo{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);

        text-align: center;
        width: 100%;
        -webkit-tap-highlight-color: transparent;
    }

    header .menu-btn{
        display: flex;
        -webkit-tap-highlight-color: transparent;
    }

    header .menu{
        display: none;
        transform-origin: top;
    }
    header .menu.active{
        position: absolute;
        top: 70px;
        left: 0;


        width: 100%;
        height: 100vh;
        background: var(--primary);

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 2rem;

    }

    header .menu .items{
        font-size: 1.3rem;
        font-weight: 600;
        width: 200px;
        height: 50px;
        border-radius: 50px;

        cursor: pointer;

        color: var(--tertiary);
        background: var(--secondary);
        transition: color 0.2s ease-in-out;
        -webkit-tap-highlight-color: transparent;

        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
    }
    header .menu .items:hover{
        color: var(--primary);
    }
    header .menu .items.active{
        color: var(--primary);
        background: var(--tertiary);
    }
    header .menu .items.active::after{
        bottom: -1rem;
    }

    header .menu .items:nth-child(1){
        margin-top: 5rem;

    }
    header .enquire-btn{
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);

        width: 50px;
        height: 50px;
        border-radius: 50%;

        font-size: 1.5rem;
        -webkit-tap-highlight-color: transparent;
    }
    header .enquire-btn .text{
        display: none;
    }
    header .enquire-btn i{
        display: block;
    }
}

/* 400px max width devices */

@media (max-width: 400px){
    header .logo{
        font-size: 1.5rem;
    }
    header .menu-btn, .enquire-btn{
        width: 45px;
        height: 45px;
        left: 10px;
        font-size: 1.3rem;
    }
    header .enquire-btn{
        left: initial;
        right: 10px;
    }
}

@keyframes menu-open{
    0%{
        opacity: 0;
        transform: scaleY(0);
    }
    60%{
        transform: scaleY(1);
    }
    70%{
        transform: scaleY(0.95);
    }
    80%{
        transform: scaleY(1);
    }
    90%{
        transform: scaleY(0.98);
    }
    100%{
        opacity: 1;
        transform: scaleY(1);
    }
}
@keyframes menu-close{
    0%{
        opacity: 1;
        transform: scaleY(1);
    }
    100%{
        opacity: 0;
        transform: scaleY(0);
   }
 }
