{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{% static 'css/home/style.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>


    <title>Miracle Living</title>

</head>
<body>


    <header>
        <a href="{% url 'home' %}" class="logo">Miracle Living</a>
        <div class="menu-btn">
            <i class="fas fa-bars"></i>
        </div>
        <div class="menu">
       
          <!-- Connect to our designs -->
            <a href="{% url 'designs' %}" class="items">Our Designs</a>

            <a href="{% url 'displayhomes' %}" class="items">Display Homes</a>
            <a href="{% url 'inclusions' %}" class="items">Inclusions</a>
            <a href="{% url 'home' %}" class="items active">Build with us</a>
            <a href="{% url 'news' %}"class="items">News & Media</a>
            <a href="{% url 'connect' %}"class="items">Connect</a>
        </div>
        <a href="#" class="enquire-btn">
            <div class="text">Enquire Now</div>
            <i class="far fa-phone"></i>
        </a>
    </header>


    <div class="section-1">
        <div class="main-msg">
            <h1 class="title">Enjoy Our Virtual <br> Home Tours</h1>
            <p>Experience our miraculous quality from the comfort of your own livingroom with an onlne virtual 3D tour</p>
            <!-- Connect to display homes -->
            <a href="{% url 'displayhomes' %}" class="btn">View our display homes</a>
        </div>
    </div>


    <div class="section-2">
      <div class="display">
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
      </div>
      <div class="main-msg">
        <div class="title">A <span class="underline">Miraculous</span> Home Builder</div>
        <div class="divide"></div>
        <div class="para">
          <p>
            <span>MIRACLE LIVING</span> is an Australian construction company which does construction activities such as delivering buildings, 
            infrastructure and industrial facilities, and associated activities through to the end of their life. 
          </p>
          <p>
            It typically starts with planning, financing, and design, and continues until the asset is built and ready for use. 
            We also cover repairs and maintenance.
          </p>
          <p class="more-para">
            It typically starts with planning, financing, and design, and continues until the asset is built and ready for use. 
            We also cover repairs and maintenance.
          </p>
          <div class="more-info-btn">Read More</div>
        </div>
      </div>
    </div>

    <div class="section-2-img"></div>


    <div class="swiper customer">
      <div class="title"><span class="underline">Happy</span> Customers</div>

      <div class="swiper-wrapper">
        <div class="swiper-slide review-container">
          <div class="quote">
            <div class="icon">
              <i class="fas fa-quote-left"></i>
            </div>
            <div class="line">
              I would strongly recommend Miracle Living to my family &
              friends... In fact, I already have! Huge thanks for the entire
              team.
            </div>
            <div class="by">- Rivera 33 at The Ponds</div>
          </div>
          <div class="profile">
            <div class="dp">
              <img src="{% static 'img/home/lady2.png' %}" alt="" />
            </div>
          </div>
        </div>

        <div class="swiper-slide review-container">
          <div class="quote">
            <div class="icon">
              <i class="fas fa-quote-left"></i>
            </div>
            <div class="line">
              I would strongly recommend Miracle Living to my family &
              friends... In fact, I already have! Huge thanks for the entire
              team.
            </div>
            <div class="by">- Rivera 33 at The Ponds</div>
          </div>
          <div class="profile">
            <div class="dp">
              <img src="{% static 'img/home/man2.png' %}" alt="" />
            </div>
          </div>
        </div>

        <div class="swiper-slide review-container">
          <div class="quote">
            <div class="icon">
              <i class="fas fa-quote-left"></i>
            </div>
            <div class="line">
              I would strongly recommend Miracle Living to my family &
              friends... In fact, I already have! Huge thanks for the entire
              team.
            </div>
            <div class="by">- Rivera 33 at The Ponds</div>
          </div>
          <div class="profile">
            <div class="dp">
              <img src="{% static 'img/home/lady3.png' %}" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>



    <div class="section-3">
      <div class="main-msg">
          <h1 class="title">Enjoy Our Virtual <br> Home Tours</h1>
          <p>Experience our miraculous quality from the comfort of your own livingroom with an onlne virtual 3D tour</p>
            <!-- Connect to display homes -->
          <a href="{% url 'displayhomes' %}" class="btn">View our display homes</a>
      </div>
  </div>

    <footer>
      <div class="container">
        <div class="design">
          <div class="title">Our Designs</div>
          <div class="expand-btn">
            <i class="fas fa-angle-down"></i>
          </div>
          <div class="items">Single Storey</div>
          <div class="items">Double Storey</div>
          <div class="items">Narrow Lot Designs</div>
          <div class="items">Acreage Home</div>
          <div class="items">Dual Living</div>
          <div class="items">Duplex</div>
          <div class="items">Granny Flat</div>
          <div class="items">Split Level</div>
        </div>
        <div class="design">
          <div class="title">Inclusions</div>
          <div class="expand-btn">
            <i class="fas fa-angle-down"></i>
          </div>
          <div class="items">Pack 1</div>
          <div class="items">Pack 2</div>
        </div>
        <div class="design">
          <div class="title">Build with us</div>
          <div class="expand-btn">
            <i class="fas fa-angle-down"></i>
          </div>
          <div class="items">Our Process</div>
          <div class="items">Where we build</div>
        </div>
        <div class="design contact">
          <div class="title">Connect</div>
          <div class="expand-btn">
            <i class="fas fa-angle-down"></i>
          </div>
          <div class="items main">Phone</div>
          <div class="items">123-456-789</div>
          <div class="items main">Office</div>
          <div class="items">10 Sovereign Place,
    South Windsor, 2756</div>
          <div class="items main">Email</div>
          <div class="items">abrahamquaresh@gmail.com</div>
        </div>
        <div class="social">
          <a href="#" target="_blank" class="social-btn">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#"  target="_blank" class="social-btn">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#"  target="_blank" class="social-btn">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="#"  target="_blank" class="social-btn">
            <i class="fab fa-pinterest-p"></i>
          </a>
        </div>
      </div>
      <div class="credits">
        <div class="logo">MIRACLE LIVING</div>
        <div class="claim">&copy; Copyright 2021 Miracle Living</div>
        <div class="docs">
          <a href="#">Privacy Policy </a>
          <span> | </span>
          <a href="#"> Terms & Conditions</a>
        </div>
      </div>
    </footer>


  <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
  <script src="{% static 'js/main.js' %}"></script>

</body>
</html>
