/* Section 1 */


.section-1{
    width: 100%;
    height: 30vh;
    position: relative;
    overflow: hidden;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    background-image: url('../../img/home/img11.png');
    background-size: cover;
    background-position: center;
}

@media (max-width: 1100px){
    .section-1{
        height: 25vh;
        justify-content: center;
        overflow: initial;
    }
}

@media (max-width: 600px){
    .section-1{
        height: 20vh;
        justify-content: center;
        overflow: initial;
    }
}